html{
	height:100%; 
}
body{
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden; 
	font-family: $helvetica;
}
a {
	&:hover {
		text-decoration: none;
	}
}
h1 {
	color: $white;
	font-size: 22px;
	line-height: 24px;
	@media screen and (min-width: 767px) {
		font-size: 40px;
		font-weight: 700;
		line-height: 44px;
	}
}
h2 {
	color: $white;
	font-size: 22px;
	line-height: 24px;
	text-align: left;
	@media screen and (min-width: 767px) {
		font-size: 40px;
		font-weight: 700;
		line-height: 44px;
	}
	span {
		display: block;
		color: $green;
	}
}
h3 {
	color: $black;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	font-weight: 300;
	@media screen and (min-width: 767px) {
		font-size: 30px;
		line-height: 34px;
	}
	span {
		font-weight: 700;
	}
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
	&:focus {
		outline: 0!important;
	}
}

