$white: #fff;
$black: #000;
$light-grey: #b8b8b9;
$dark-grey: #41505d;
$grey: #5e5e5e;
$silver: #585858;
$dark-silver: #41505d;
$green: #35b428;
$blue: #3b5998;

$helvetica: 'Helvetica Neue', Arial, sans-serif;
