$white: #fff;
$black: #000;
$light-grey: #b8b8b9;
$dark-grey: #41505d;
$grey: #5e5e5e;
$silver: #585858;
$light-silver: #e6e6e6;
$dark-silver: #41505d;
$green: #35b428;
$blue: #3b5998;
$pink: #eb1d5d;
$orange: #f59331;
$helvetica: 'Helvetica Neue', Arial, sans-serif;
