@media screen and (max-width: 767px) {
	.nav > li {
		display: inline-block;
	}
	.navbar-default .navbar-collapse {
		border: none;
		@include box-shadow(inset, 0, 0, 0, 0);
	}
	.search-form {
		.form-inline {
			position: relative;
			.dropdown  {
				position: static;
				float: none;
				.dropdown-menu {
					position: relative;
					float: none;
					margin-bottom: 15px;
					right: 0;
					left: 0;
					width: 100%;
					background-clip: initial;
				}
			}
		}
	}

	//inner-page-top
	section {
		.inner-backgr {
			background: url("../img/hp-bgr.jpg") 0 0 no-repeat;
			height: auto;
			overflow-x: inherit;
		}
	}
	.inner-backgr {
		height: auto;
	}
	.inner-backgr {
		background-position: center center;
		height: auto;
	}
	//inner-main-top
	.inner-page-main-top {
		padding: 10px 0;
		h2 {
			display: block;
			float: none;
			text-align: center;
			margin: 0;
		}
		p {
			display: block;
			line-height: 20px;
		}
	}
	.main-content {
		display: -webkit-box;
	    display: -moz-box;
	    display: box;
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-flow: column;
	    -webkit-flex-flow: column;
	    flex-flow: column;
		h3 {
			text-align: center;
			margin: 0;
			font-size: 14px;
		}
		.page-number {
			font-size: 18px;
			line-height: 18px;
		}
		.completeness {
			font-size: 18px;
			padding: 0;
			span {
				font-size: 16px;
			}
		}
		.primary {
			-ms-flex-order: 1;
		    -webkit-order: 1;
		    order: 1;
		}
		.secondary {
			-ms-flex-order: 2;
		    -webkit-order: 2;
		    order: 2;
		}
	}
	.form-steps {
		padding-top: 10px;
		.form-group {
			margin: 0;
			.form-control {
				height: 24px;
				font-size: 14px;
				@include placeholder {
					font-size: 14px;
				}
			}
			label {
				line-height: 10px;
				font-size: 10px;
			}
		}
	}
	.social-btn {
		width: 100%;
		font-size: 15px;
		margin-top: 5px;
	}
	.dropdown-group {
		padding: 0;
	}
	.summary {
		padding: 0 15px;
	}
	.research {
		padding-top: 9px;
	}
	.next-step {
		a {
			font-size: 12px;
			padding-top: 5px;
		}
	}
	.return {
		a {
			font-size: 12px;
		}
	}
	.manual-validate-btn {
		font-size: 12px;
	}
	.comment {
		display: none;
	}
	.valid {
	    text-align: center;
	    padding: 0 15px;
	    max-width: 375px;
	    margin: 0 auto 20px;
	    float: none;
	    button {
	    	width: 100%;
	    }
	}
	.btn-info, .btn-submit {
		font-size: 15px;
	}
	table td tr td:first-child {
		font-size: 12px;
	}
	table td tr td:last-child {
		font-size: 10px;
	}
	table td.selected {
		font-size: 12px;
	}
	//Modal
	.modal-content {
		h3 {
			color: $green;
			font: 700 28px $helvetica;
			margin: 0;
			padding: 28px 15px;
		}
	}
	.modal-body-content {
		font: 300 18px $helvetica;
		padding: 0 5px;
		.offer {
			padding-left: 15px;
			span {
				display: inline-block;
				position: relative;
				margin-left: -40px;
			}
		}
		span.price {
			font-size: 100px;
			padding-left: 20px;
			font-weight: 500;
		}
	}
	.completeness-text {
		p {
			padding-left: 15px;
			margin: 0;
		}
	}
	.modal-header {
		padding: 19px 20px 19px 15px;
		h4 {
			font: 300 20px $helvetica;
		}
	}
	.modal-footer {
		border: none;
		padding: 34px 0px;
	}
	.user-backgr {
		height: auto;
		overflow-x: visible;
		background-position: center 0;
	}
	.user-page-main-top {
		.return {
			display: table-cell;
			float: none;
			vertical-align: bottom;
			padding: 0 0 0 20px;
			a {
				color: $white;
				padding: 0;
			}
		}
		h2 {
			display: table-cell;
			vertical-align: middle;
			float: none;
		}
	}
	table h2 {
		font-size: 17px;
	}
	.progress {
		width: 60%;
	}
	.progress-value {
		font-size: 16px;
	}
	.last-referrers {
		border: none;
		padding: 0;
	}
	.experience  {
		ul {
			height: auto;
		}
	}
	.experience-list {
		padding: 0;
	}
	.comments{
		padding: 0;
	}
	.download-cv {
		padding-left: 0;
		button {
			font-size: 12px;
			margin: 0;
		}
	}
	.select-btn {
		padding-right: 0;
		button {
			font-size: 12px;
			margin: 0;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1290px) {
	.search-form {
		.form-inline {
			.dropdown {
				float: left;
				.dropdown-menu {
					font: normal 16px/12px $helvetica;
				}
				.btn {
					font: normal 16px/35px $helvetica;
				}
			}
			.form-control {
				font: normal 16px/12px $helvetica;
				@include placeholder {
					font: normal 16px/40px $helvetica;
				}
			}
		}
	}
	button[type="submit"] {
		font-size: 16px;
	}

	//inner-main-top
	.inner-page-main-top {
		padding: 0 20px;
	}
	section {
		.inner-backgr {
			background: url("../img/hp-bgr.jpg") 0 0 no-repeat;
			height: auto;
			overflow-x: inherit;
		}
	}
	.summary {
		padding: 0 15px;
		h3 {
			padding: 0;
		}
	}
	.next-step {
		a {
			font-size: 15px;
		}
	}
	.return {
		a {
			font-size: 15px;
		}
	}
	.manual-validate-btn {
		font-size: 15px;
	}
	.third-step {
		.return {
			position: relative;
			@media screen and (min-width: 768px) {
				top: -43px;
			}
		}
	}
	.secondary {
	    padding: 25px 0 25px 10px;
	}
	.main-content .secondary ul.lang li ul li {
		padding: 10px 3px;
	    margin-right: 0px;
	    font-size: 10px;
	}
	.main-content .secondary ul.lang li span {
		padding-top: 15px;
	}
	table h2 {
		font-size: 11px;
	}
	table td tr td:first-child {
		font-size: 13px;
	}
	.user-icon {
		img {
			display: block;
			float: left;
			padding-right: 5px;
		}
	}
	.progress {
		width: 50%;
	}
	.progress-value {
		font-size: 16px;
	}
	.last-referrers {
		border: none;
		padding: 0;
	}
}

@media screen and (min-width: 568px) and (max-width: 767px) and (orientation : landscape) {
	section .inner-backgr {
		padding-top: 0;
	}
	.navbar-default .navbar-collapse {
		padding-top: 0;
	}
	.inner-page-main-top {
		h2 {
			font-size: 15px;
			line-height: 15px;
		}
		p {
			margin: 0;
			font-size: 15px;
			line-height: 15px;
		}
	}
	.social-btn {
		padding: 6px 15px;
	}
	.info {
		padding-bottom: 20px;
		 h1 {
			margin: 5px 0;
		}
	}
	.search-form {
		padding: 14px 0;
		.form-inline {
			display: block;
			width: 100%;
			div {
				width: 25%;
				float: left;
			}
			.dropdown {
				float: left;
				width: 33%;
				.btn {
					font-size: 14px;
					line-height: 25px;
				}
			}
			.btn {
				float: left;
				font-size: 14px;
				height: 25px;
				line-height: 1;
			}
			.form-group {
				margin: 0;
			}
			.form-control {
				font-size: 14px;
				height: 25px;
				@include placeholder {
					font-size: 14px;
				}
			}
		}
	}
	.form-steps {
		.form-group {
			width: 50%;
			float: left;
		}
	}
}