.dashboard {
	.header {
		padding: 20px 0 0;
	}
	.navbar-default .navbar-toggle {
		margin-right: 30px;
	}
	.navbar-nav i {
		font-size: 60px;
		line-height: 80px;
	}
	.logo {
		max-width: 235px;
		img {
			width: 100%;
		}
	}
}
//Switch on_off toggle
	.toggle-on {
		color: #e74e0f;
		font-size: 25px;
		line-height: 25px;
		display: inline-block;
		vertical-align: middle;
	}
	.toggle-off {
		display: inline-block;
		font-size: 25px;
		line-height: 25px;
		vertical-align: middle;
	}
	.toggle-on-off {
		max-width: 107px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 15px;
	}
	.cmn-toggle {
		display: none;
	}
	input.cmn-toggle-round-flat + label {
	  transition: background 0.4s;
	}
	input.cmn-toggle-round-flat + label:before,
	input.cmn-toggle-round-flat + label:after {
	  display: block;
	  position: absolute;
	  content: "";
	  cursor: pointer;
	}
	input.cmn-toggle-round-flat + label:before {
	  top: 2px;
	  left: 2px;
	  bottom: 2px;
	  right: 2px;
	  background-color: #e74e0f;
	  border-radius: 70px;
	  transition: background 0.4s;
	}
	input.cmn-toggle-round-flat + label:after {
	  top: 6px;
	  left: 6px;
	  bottom: 6px;
	  width: 54px;
	  height: 54px;
	  background-color: #000;
	  border-radius: 54px;
	  transition: margin 0.4s, background 0.4s;
	}
	input.cmn-toggle-round-flat:checked + label {
	}
	input.cmn-toggle-round-flat:checked + label:after {
	  margin-left: 40px;
	  background-color: #fff;
	}
	.switch {
		width: 107px;
		height: 65px;
		overflow: hidden;
	}
.user-data {
	margin-right: 20px;
	text-decoration: none!important;
	border: none;
	@media screen and (min-width: 1200px) {
		margin-right: 50px;
	}
	a.dropdown-toggle {
		span {
			display: inline-block;
			max-width: 111px;
			max-height: 111px;
			padding: 0;
			margin-top: -20px;
		}
		&:hover, &:focus {
			text-decoration: none!important;
			border: none!important;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	.dropdown-menu {
		border-color: #e74e0f;
		font-family: Lato, sans-serif;
		background: #000;
		li {
			a {
				color: #fff;
				padding: 0;
				font-size: 20px;
				line-height: 25px;
				padding-right: 10px;
				padding-left: 5px;
				&:hover, &:focus {
					background: none;
					color: #e74e0f;
				}
			}
		}
	}
}

//SIDEBAR
.sliding-menu {
	position: static;
	text-align: center;
	.main_menu {
		display: inline-block;
		.toggle {
			&.left {
				color: $white;
				font-size: 60px;
			}
		}
	}
	h2 {
		background-color: #e74e0f;
		height: 50px;
		margin: 0 0 20px;
		span {
			display: block;
			line-height: 50px;
			margin-left:20px;
			padding-left: 10px;
			background-color: #f93;
			color: #3c3c3c;
			font-family: Lato, sans-serif;
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	ul {
		padding: 0 15px;
		text-align: left;
		li {
			padding: 10px 0;
			a {
				color: white;
				font-family: Lato, sans-serif;
				font-size: 22px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
			}
		}
	}
}
//MAIN CONTENT 
.thumb {
	display: inline-block;
	width: 24%;
	max-width: 986px;
	max-height: 477px;
	position: relative;
	cursor: pointer;
	div,a {
		display: block;
		position: relative;
		padding: 15px 15px 0 0;
		span {
			position: absolute;
			top: 31px;
    		left: 25px;
			color: white;
			width: 70%;
			font-family: Helvetica, sans-serif;
			font-size: 20px;
			font-weight: 700;
			line-height: 20px;
			@media screen and (min-width: 1200px) {
				font-size: 33px;
				line-height: 35px;
				left: 39px;
			}
		}
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		border-radius: 25px;
	}
	ul {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		top: 30%;
		right: 0;
		padding: 0 30px;
		text-align: center;
		li {
			display: inline-block;
			width: 100%;
			padding: 0 30px;
			height: 40px;
			opacity: 0.5;
			background-color: black;
			border-radius: 10px;
			box-sizing: border-box;
			margin-bottom: 30px;
			a {
				color: white;
				font-family: Helvetica, sans-serif;
				font-size: 20px;
				font-weight: 400;
				line-height: 40px;
				padding: 0;
			}
		}
	}
	&:hover {
		ul.inner-content {
			display: block!important;
			z-index: 20;
		}
	}

}

/* Toggle Styles */
 
 #wrapper {
    padding-left: 0;
    @include transition(all 0.5s ease);
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 10%, darkgrey 18%, #5a5a5a 33%, #404040 38%, black 79%, black 86%, black 100%);
}
.navbar {
    display: inline-block;
}
.navbar-toggle {
    border: none;
    font-size: 20px;
    margin: 0 20px 0 0;
    padding: 0;
} 
.navbar-nav {
    padding-top: 13px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    color: $white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0;
}
.toggled {
    overflow: scroll;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    margin-left: 0;
    overflow-y: auto;
    @include transition(all 0.5s ease);
    float: left;
    overflow: hidden;
    @media screen and (min-width: 1200px) {
		padding-top: 160px;
    }
    .heading {
    	margin: 0 0 15px;
    	display: block;
    	@include transition(all 0.5s ease);
    	a {
    		background-color: #e74e0f;
    		border: none;
    		padding-left: 20px;
    		cursor: default;
    		span {
	    		display: block;
	    		float: right;
	    		opacity: 1;
	        	visibility: visible; 
	    		margin-left: 30px;
	    		padding-left: 30px;
	    		line-height: 50px;
	    		color: #3c3c3c;
	    		background-color: #f93;
				font-family: Lato, sans-serif;
				font-size: 20px;
				font-weight: 700;
				text-transform: uppercase;
    		}
    	}
    }
}
.toggled #sidebar-wrapper {
    width: 300px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;  
    overflow-x: hidden; 
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 10%, darkgrey 18%, #5a5a5a 33%, #404040 38%, black 79%, black 86%, black 100%);
}

.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
    li {
    	a {
    		display: block;
    		width: 100%;
    		&:after {
    			content: "";
    			display: table;
    			clear: both;
    		}
    	}
    }
    .pull-left {
        margin-right: 10px;
    }
    .fa-stack {
        width: 10%;
        font-size: 30px;
        line-height: 26px;
        display: block;
        float: left;
        i {
        	display: block;
        }
    }
    .menu-text {
    	display: block;
    	float: left;
    	width: 85%;
    	padding-left: 40px;
    	text-align: left;
    	text-indent: 0;
    }
}
 
.sidebar-nav li {
    text-indent: 13px;
    line-height: 44px;
}
 
.sidebar-nav li a {
    display: block;
    padding-left: 20px;
    text-decoration: none;
    border-radius: 0;
    border-left: transparent 6px solid;
    color: white;
	font-family: Lato, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
    .menu-text {
        visibility: visible; 
        opacity: 1;
    }
}
.nav-stacked {
    > li + li {
        margin-top: 7px; 
    }
} 
.sidebar-nav li a:hover, .sidebar-nav li.active a, .sidebar-nav li.active a:hover {
    text-decoration: none;
    color: #fff;
    background: none;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
    .menu-text {
        opacity: 1;
        visibility: visible; 
    }
}

#tutorials {
    visibility: visible; 
    opacity: 1;
    margin-top: 30px;
    &.sidebar-nav li {
        line-height: 40px;
    }
    &.sidebar-nav li a {
        color: $silver;
        font-weight: 500;
        padding-left: 21px;
        border-left: 6px solid transparent;
    }
    &.sidebar-nav li:first-child a {
        padding-left: 0;
    }
    &.sidebar-nav li a:hover, &.sidebar-nav li.active a, &.sidebar-nav li.active a:hover {
        text-decoration: none;
        color: #9ca0a6;
        border-left: 6px solid transparent;
    }
}
.close-btn {
    margin-right: 37px;
    font-size: 19px;
    &:hover {
        color: $white;
    }
}
 
    #wrapper {
     padding-left: 300px;
    }
    .fixed-brand{
        max-width: 300px;
    }
    .toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 300px;
    }
 
    .toggled #sidebar-wrapper {
        width: 300px;
    }
    .toggled-2 #sidebar-wrapper {
        width: 86px;
        .left-inner-addon {
            opacity: 0;
            visibility: hidden;
            @include transition(visibility 0.2s linear, opacity 0.2s linear);
        }
        .menu-text {
            opacity: 0;
            visibility: hidden;
            @include transition(visibility 0.2s linear, opacity 0.2s linear);
        }
        .heading {
            opacity: 0;
            visibility: hidden;
            @include transition(visibility 0.2s linear, opacity 0.2s linear);
        }
    }
 
    #page-content-wrapper {
        padding: 0;
        position: relative;
        @include transition(all 0.5s ease);
    }
     .toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 300px;
    }
    .toggled-2 #page-content-wrapper {
        margin-right: 0;
        margin-left: -210px;
       @include transition(all 0.5s ease);
    }

.header-right {
	padding: 20px 20px 0 0;
	ul {
		float: right;
		li {
			float: left;
			width: auto;
			display: inline-block;
			color: $white;
			font-size: 30px;
			margin-left: 0px;
			a {
				color: $white
			}
		}
	}
	.notification {
	    font-size: 22px; 
	    position: relative;
	    cursor: pointer;
	    margin: 11px 40px 0 0;
    	display: block;
	    i {
	    	font-size: 40px;
	    }
	    span {
	    	width: 35px;
	    	height: 35px;
	    	text-align: center;
	    	line-height: 35px;
	        display: inline-block;
	        position: absolute;
	        top: -20px;
    		right: -17px;
	        color: $white;
	        @include border-radius(50%);
	        font-size: 22px;
	        background: #e74e0f;
	    }
	}
}


