.hp-backgr {
	overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    height: auto;
	padding: 0;
	@include cover-background("../img/hp-bgr.jpg");
}
.info {
	display: inline-block;
	padding-bottom: 30px;
	@media screen and (min-width: 767px) {
		padding-bottom: 147px;
	}
	h1 {
		text-align: left;
	}
}